# Ignore Visual Studio files
.vs/
*.user
*.suo

# Build results
bin/
obj/
*.dll
*.exe
*.pdb

# ASP.NET temp files
**/App_Data/
**/App_Start/

# Others
*.log
*.cache
*.tmp

# Rider / VSCode
.idea/
.vscode/

# NuGet packages
*.nupkg
packages/
project.lock.json

# User-specific files
*.dbmdl
*.swp
*.bak

# Publish output
publish/

# Resharper
_ReSharper*/
*.DotSettings.user
